In [3]:
import pandas as pd
import numpy as np

In [4]:
data=pd.read_csv('/content/jokes-data (1).csv')

In [5]:
data.isna().sum()

id         0
user_id    0
joke_id    0
Rating     0
dtype: int64

In [6]:
data.dropna()

               id  user_id  joke_id  Rating
0       31030_110    31030      110   2.750
1       16144_109    16144      109   5.094
2         23098_6    23098        6  -6.438
3        14273_86    14273       86   4.406
4       18419_134    18419      134   9.375
...           ...      ...      ...     ...
227400    15009_7    15009        7   3.062
227401  29333_105    29333      105   7.469
227402    29258_3    29258        3   1.000
227403    11214_2    11214        2   3.250
227404   14016_83    14016       83   4.156

[227405 rows x 4 columns]

In [7]:
data = pd.DataFrame(data)

In [8]:
data.shape

(227405, 4)

In [9]:
ratings = data.drop("id", axis=1)

In [10]:
!pip install surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise (from surprise)
  Downloading scikit-surprise-1.1.3.tar.gz (771 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 772.0/772.0 kB 18.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.10.1)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.3-cp310-cp310-linux_x86_64.whl size=3095430 sha256=bb10bd39df3474313a76c3876db23b47e4e989af47f51a849083dddd2af962f5
  Stored in directory: /root/.cache/pip/wheels/a5/ca/a8/4e28def53797fdc4363ca4af740db15a9c2f1595ebc51fb445
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.3 surprise-0.1

In [11]:
from surprise import Reader, Dataset, KNNBasic, SVD

In [12]:
reader = Reader()

In [13]:
data

               id  user_id  joke_id  Rating
0       31030_110    31030      110   2.750
1       16144_109    16144      109   5.094
2         23098_6    23098        6  -6.438
3        14273_86    14273       86   4.406
4       18419_134    18419      134   9.375
...           ...      ...      ...     ...
227400    15009_7    15009        7   3.062
227401  29333_105    29333      105   7.469
227402    29258_3    29258        3   1.000
227403    11214_2    11214        2   3.250
227404   14016_83    14016       83   4.156

[227405 rows x 4 columns]

In [14]:
data = Dataset.load_from_df(ratings, reader)

In [15]:
data

In [16]:
###ndarray = data.to_numpy()

In [17]:
algo = SVD()

In [18]:
from surprise.model_selection import cross_validate

In [19]:
cross_validate(algo, data, measures = ["RMSE"], cv = 4, verbose = True)

Evaluating RMSE of algorithm SVD on 4 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Mean    Std
RMSE (testset)    4.7754  4.7984  4.7860  4.7921  4.7880  0.0085
Fit time          3.88    6.21    5.12    3.14    4.59    1.18
Test time         0.61    1.46    0.63    0.61    0.83    0.36

{'test_rmse': array([4.77536251, 4.79844529, 4.78604787, 4.7920851 ]),
 'fit_time': (3.878235101699829,
  6.212573051452637,
  5.1217710971832275,
  3.1375253200531006),
 'test_time': (0.6112194061279297,
  1.4581012725830078,
  0.626868486404419,
  0.6094884872436523)}