In [21]:
!pip install nltk
!pip install spacy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (3.8.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk) (8.1.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk) (2022.10.31)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk) (4.65.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: spacy in /usr/local/lib/python3.10/dist-packages (3.5.2)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in /usr/local/lib/python3.10/dist-packages (from spacy) (3.0.12)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (1.0.4)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (1.0.9)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.10/dist-packages (from spacy) (2.0.7)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.10/dist-packages (from spacy) (3.0.8)
Requirement already satisfied: thinc<8.2.0,>=8.1.8 in /usr/local/lib/python3.10/dist-packages (from spacy) (8.1.9)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in /usr/local/lib/python3.10/dist-packages (from spacy) (1.1.1)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /usr/local/lib/python3.10/dist-packages (from spacy) (2.4.6)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.10/dist-packages (from spacy) (2.0.8)
Requirement already satisfied: typer<0.8.0,>=0.3.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (0.7.0)
Requirement already satisfied: pathy>=0.10.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (0.10.1)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in /usr/local/lib/python3.10/dist-packages (from spacy) (6.3.0)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (4.65.0)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (1.22.4)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (2.27.1)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4 in /usr/local/lib/python3.10/dist-packages (from spacy) (1.10.7)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from spacy) (3.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from spacy) (67.7.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (23.1)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4->spacy) (4.5.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (3.4)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /usr/local/lib/python3.10/dist-packages (from thinc<8.2.0,>=8.1.8->spacy) (0.7.9)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /usr/local/lib/python3.10/dist-packages (from thinc<8.2.0,>=8.1.8->spacy) (0.0.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.10/dist-packages (from typer<0.8.0,>=0.3.0->spacy) (8.1.3)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->spacy) (2.1.2)

In [22]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import string
import spacy
import pandas as pd

In [33]:
!unzip /content/1429_1.csv[1].zip

Archive:  /content/1429_1.csv[1].zip
  inflating: 1429_1.csv

In [34]:
full_df = pd.read_csv('/content/1429_1.csv', nrows=5000)
df = full_df[["reviews.text"]]
df["text"] = df["reviews.text"].astype(str)
df["text"]

<ipython-input-34-d8377fa34679>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["text"] = df["reviews.text"].astype(str)

0       This product so far has not disappointed. My c...
1       great for beginner or experienced person. Boug...
2       Inexpensive tablet for him to use and learn on...
3       I've had my Fire HD 8 two weeks now and I love...
4       I bought this for my grand daughter when she c...
                              ...
4995    Amazing tablet for the price i love it is real...
4996    I love my fire... The games and the pictures g...
4997    Great tablet for kids but the screen isn't as ...
4998    Great product easy to use. Having different co...
4999    Love this tablet, great price and is really fa...
Name: text, Length: 5000, dtype: object

In [35]:
df["text_lower"] = df["text"].str.lower()
df.head()

<ipython-input-35-15a7f2f8ebef>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["text_lower"] = df["text"].str.lower()

,reviews.text,text,text_lower
0,This product so far has not disappointed. My c...,This product so far has not disappointed. My c...,this product so far has not disappointed. my c...
1,great for beginner or experienced person. Boug...,great for beginner or experienced person. Boug...,great for beginner or experienced person. boug...
2,Inexpensive tablet for him to use and learn on...,Inexpensive tablet for him to use and learn on...,inexpensive tablet for him to use and learn on...
3,I've had my Fire HD 8 two weeks now and I love...,I've had my Fire HD 8 two weeks now and I love...,i've had my fire hd 8 two weeks now and i love...
4,I bought this for my grand daughter when she c...,I bought this for my grand daughter when she c...,i bought this for my grand daughter when she c...

In [36]:
PUNCT_TO_REMOVE = string.punctuation
def remove_punctuation(text):
    """custom function to remove the punctuation"""
    return text.translate(str.maketrans('', '', PUNCT_TO_REMOVE))

df["text_wo_punct"] = df["text_lower"].apply(lambda text: remove_punctuation(text))
df.head()

<ipython-input-36-b0b22f20b6f5>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["text_wo_punct"] = df["text_lower"].apply(lambda text: remove_punctuation(text))

,reviews.text,text,text_lower,text_wo_punct
0,This product so far has not disappointed. My c...,This product so far has not disappointed. My c...,this product so far has not disappointed. my c...,this product so far has not disappointed my ch...
1,great for beginner or experienced person. Boug...,great for beginner or experienced person. Boug...,great for beginner or experienced person. boug...,great for beginner or experienced person bough...
2,Inexpensive tablet for him to use and learn on...,Inexpensive tablet for him to use and learn on...,inexpensive tablet for him to use and learn on...,inexpensive tablet for him to use and learn on...
3,I've had my Fire HD 8 two weeks now and I love...,I've had my Fire HD 8 two weeks now and I love...,i've had my fire hd 8 two weeks now and i love...,ive had my fire hd 8 two weeks now and i love ...
4,I bought this for my grand daughter when she c...,I bought this for my grand daughter when she c...,i bought this for my grand daughter when she c...,i bought this for my grand daughter when she c...

**TOKENIZATION**

In [37]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [39]:
text=df['text']

tokens = df["text"].apply(lambda text:word_tokenize(text))


print(tokens)

0       [This, product, so, far, has, not, disappointe...
1       [great, for, beginner, or, experienced, person...
2       [Inexpensive, tablet, for, him, to, use, and, ...
3       [I, 've, had, my, Fire, HD, 8, two, weeks, now...
4       [I, bought, this, for, my, grand, daughter, wh...
                              ...
4995    [Amazing, tablet, for, the, price, i, love, it...
4996    [I, love, my, fire, ..., The, games, and, the,...
4997    [Great, tablet, for, kids, but, the, screen, i...
4998    [Great, product, easy, to, use, ., Having, dif...
4999    [Love, this, tablet, ,, great, price, and, is,...
Name: text, Length: 5000, dtype: object

**STOPWORDS REMOVAL**

In [40]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [41]:
from nltk.corpus import stopwords
", ".join(stopwords.words('english'))

"i, me, my, myself, we, our, ours, ourselves, you, you're, you've, you'll, you'd, your, yours, yourself, yourselves, he, him, his, himself, she, she's, her, hers, herself, it, it's, its, itself, they, them, their, theirs, themselves, what, which, who, whom, this, that, that'll, these, those, am, is, are, was, were, be, been, being, have, has, had, having, do, does, did, doing, a, an, the, and, but, if, or, because, as, until, while, of, at, by, for, with, about, against, between, into, through, during, before, after, above, below, to, from, up, down, in, out, on, off, over, under, again, further, then, once, here, there, when, where, why, how, all, any, both, each, few, more, most, other, some, such, no, nor, not, only, own, same, so, than, too, very, s, t, can, will, just, don, don't, should, should've, now, d, ll, m, o, re, ve, y, ain, aren, aren't, couldn, couldn't, didn, didn't, doesn, doesn't, hadn, hadn't, hasn, hasn't, haven, haven't, isn, isn't, ma, mightn, mightn't, mustn, mustn't, needn, needn't, shan, shan't, shouldn, shouldn't, wasn, wasn't, weren, weren't, won, won't, wouldn, wouldn't"

In [44]:
STOPWORDS = set(stopwords.words('english'))
def remove_stopwords(text):

    return " ".join([word for word in str(text).split() if word not in STOPWORDS])

df["text_wo_stop"] = df["text_wo_punct"].apply(lambda text: remove_stopwords(text))
df.head()

<ipython-input-44-3cfa33242b88>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["text_wo_stop"] = df["text_wo_punct"].apply(lambda text: remove_stopwords(text))

,reviews.text,text,text_lower,text_wo_punct,text_wo_stop
0,This product so far has not disappointed. My c...,This product so far has not disappointed. My c...,this product so far has not disappointed. my c...,this product so far has not disappointed my ch...,product far disappointed children love use lik...
1,great for beginner or experienced person. Boug...,great for beginner or experienced person. Boug...,great for beginner or experienced person. boug...,great for beginner or experienced person bough...,great beginner experienced person bought gift ...
2,Inexpensive tablet for him to use and learn on...,Inexpensive tablet for him to use and learn on...,inexpensive tablet for him to use and learn on...,inexpensive tablet for him to use and learn on...,inexpensive tablet use learn step nabi thrille...
3,I've had my Fire HD 8 two weeks now and I love...,I've had my Fire HD 8 two weeks now and I love...,i've had my fire hd 8 two weeks now and i love...,ive had my fire hd 8 two weeks now and i love ...,ive fire hd 8 two weeks love tablet great valu...
4,I bought this for my grand daughter when she c...,I bought this for my grand daughter when she c...,i bought this for my grand daughter when she c...,i bought this for my grand daughter when she c...,bought grand daughter comes visit set user ent...

**LEMMATIZATION**

In [45]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [46]:
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
def lemmatize_words(text):
    return " ".join([lemmatizer.lemmatize(word) for word in text.split()])

df["text_lemmatized"] = df["text_wo_stop"].apply(lambda text: lemmatize_words(text))
df.head()

<ipython-input-46-32d11605f781>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["text_lemmatized"] = df["text_wo_stop"].apply(lambda text: lemmatize_words(text))

,reviews.text,text,text_lower,text_wo_punct,text_wo_stop,text_lemmatized
0,This product so far has not disappointed. My c...,This product so far has not disappointed. My c...,this product so far has not disappointed. my c...,this product so far has not disappointed my ch...,product far disappointed children love use lik...,product far disappointed child love use like a...
1,great for beginner or experienced person. Boug...,great for beginner or experienced person. Boug...,great for beginner or experienced person. boug...,great for beginner or experienced person bough...,great beginner experienced person bought gift ...,great beginner experienced person bought gift ...
2,Inexpensive tablet for him to use and learn on...,Inexpensive tablet for him to use and learn on...,inexpensive tablet for him to use and learn on...,inexpensive tablet for him to use and learn on...,inexpensive tablet use learn step nabi thrille...,inexpensive tablet use learn step nabi thrille...
3,I've had my Fire HD 8 two weeks now and I love...,I've had my Fire HD 8 two weeks now and I love...,i've had my fire hd 8 two weeks now and i love...,ive had my fire hd 8 two weeks now and i love ...,ive fire hd 8 two weeks love tablet great valu...,ive fire hd 8 two week love tablet great value...
4,I bought this for my grand daughter when she c...,I bought this for my grand daughter when she c...,i bought this for my grand daughter when she c...,i bought this for my grand daughter when she c...,bought grand daughter comes visit set user ent...,bought grand daughter come visit set user ente...

In [49]:
df["text_lemmatized"]

0       product far disappointed child love use like a...
1       great beginner experienced person bought gift ...
2       inexpensive tablet use learn step nabi thrille...
3       ive fire hd 8 two week love tablet great value...
4       bought grand daughter come visit set user ente...
                              ...
4995    amazing tablet price love really easy use ligh...
4996                         love fire game picture great
4997    great tablet kid screen isnt strong charging p...
4998    great product easy use different color choice ...
4999    love tablet great price really fast worth ever...
Name: text_lemmatized, Length: 5000, dtype: object

**STEMMING**

In [47]:
from nltk.stem.porter import PorterStemmer


stemmer = PorterStemmer()
def stem_words(text):
    return " ".join([stemmer.stem(word) for word in text.split()])

df["text_stemmed"] = df["text_wo_stop"].apply(lambda text: stem_words(text))
df.head()

<ipython-input-47-f1fb70d9d0d9>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["text_stemmed"] = df["text_wo_stop"].apply(lambda text: stem_words(text))

,reviews.text,text,text_lower,text_wo_punct,text_wo_stop,text_lemmatized,text_stemmed
0,This product so far has not disappointed. My c...,This product so far has not disappointed. My c...,this product so far has not disappointed. my c...,this product so far has not disappointed my ch...,product far disappointed children love use lik...,product far disappointed child love use like a...,product far disappoint children love use like ...
1,great for beginner or experienced person. Boug...,great for beginner or experienced person. Boug...,great for beginner or experienced person. boug...,great for beginner or experienced person bough...,great beginner experienced person bought gift ...,great beginner experienced person bought gift ...,great beginn experienc person bought gift love
2,Inexpensive tablet for him to use and learn on...,Inexpensive tablet for him to use and learn on...,inexpensive tablet for him to use and learn on...,inexpensive tablet for him to use and learn on...,inexpensive tablet use learn step nabi thrille...,inexpensive tablet use learn step nabi thrille...,inexpens tablet use learn step nabi thrill lea...
3,I've had my Fire HD 8 two weeks now and I love...,I've had my Fire HD 8 two weeks now and I love...,i've had my fire hd 8 two weeks now and i love...,ive had my fire hd 8 two weeks now and i love ...,ive fire hd 8 two weeks love tablet great valu...,ive fire hd 8 two week love tablet great value...,ive fire hd 8 two week love tablet great value...
4,I bought this for my grand daughter when she c...,I bought this for my grand daughter when she c...,i bought this for my grand daughter when she c...,i bought this for my grand daughter when she c...,bought grand daughter comes visit set user ent...,bought grand daughter come visit set user ente...,bought grand daughter come visit set user ente...

In [50]:
df['text_stemmed']

0       product far disappoint children love use like ...
1          great beginn experienc person bought gift love
2       inexpens tablet use learn step nabi thrill lea...
3       ive fire hd 8 two week love tablet great value...
4       bought grand daughter come visit set user ente...
                              ...
4995    amaz tablet price love realli easi use light w...
4996                          love fire game pictur great
4997    great tablet kid screen isnt strong charg port...
4998     great product easi use differ color choic wonder
4999    love tablet great price realli fast worth ever...
Name: text_stemmed, Length: 5000, dtype: object